/mark
/@Exile
/@Ryanzombies
/addons
/battleye
/curator
/dll
/dta
/expansion
/heli
/kart
/steam.dll
/steam_api.dll
/steam_appid.txt
/steamclient.dll
/tier0_s.dll
/vstdlib_s.dll
/arma3server.exe
/arma3server_readme.txt
/ijl15.dll
/msvcr100.dll
/openssl_license.txt
/physx3_x86.dll
/physx3common_x86.dll
/physx3cooking_x86.dll
/physx3gpu_x86.dll
/@ExileServer/undedz
/@extDB2/extDB/logs
/TADST/exile/Tmp2302
/TADST/exile/tmp
/TADST/exile/Users
/config
/logs
/steamapps
/TADST/exile/*.rpt
/TADST/exile/*.log
